/* import de polices google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Radio+Canada&family=Rubik:wght@300;400&family=Ubuntu:wght@300;400&display=swap');

/* import des icons Bootstraps */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* CSS liés au body et HTML général*/
html, body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Menu navigation */
#menuBar {
    font-family: 'Radio Canada', sans-serif;
    box-shadow: 0 0 15px rgb(234, 226, 186);
}

#logo-SP {
    border-radius: 50px;
    box-shadow: 0 0 10px grey;
    width: 70%;
    z-index: 1rem;
}

nav {
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
    height: 70px;
}
#btnNav:hover {
    color: #DE7A22;
    font-weight: 600;
    transform: scale(1.1);
    transition: all ease-in-out 0.5ms;
}

/* Jumbotron */


#jumbotron {
    background: linear-gradient(#F4CC70, #FFFFFF);
    font-family: 'Poppins', sans-serif;

}

#more {
    background-color: white;
    color: #DE7A22;
    border-color: #DE7A22;
    transition: all ease-in-out 0.5ms;
}

#more:hover {
    background-color: #DE7A22;
    border-color: white;
    color: #FFFFFF;
    transition: all ease-in-out 0.5ms;
}

/* Page accueil */
#lastPost, #nextEvent, #volunteerPost {
    box-shadow: 5px 10px 15px rgb(122, 120, 110);
}

#lastPost{
    background: url("img/event/news.jpg");
    background-position: center;
    object-fit: cover;

}

#nextEvent {
    background: url("img/event/coming-soon.jpg");
    background-position: center;
    object-fit: cover;

}

#volunteerPost {
    background: url("img/event/hand.jpg");
    background-position: center;
    object-fit: cover;
}

#lastPost>h3, #nextEvent>h3, #volunteerPost>h3 {
    font-weight: 600;
    color:#F4CC70;
}

#lastPost>p, #nextEvent>p, #volunteerPost>p {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

#btnLire {
    background-color: white;
    color:#DE7A22;
    border-color:#F4CC70;
    transition: all ease-in-out 0.5ms;
    
}

#btnLire:hover {
    background-color:#F4CC70;
    color:white;
    border: 1px solid white;
    transition: all ease-in-out 0.5ms;
    transform: scale(1.1);
}

#newsletter {
    background:linear-gradient(#FFFFFF, #DE7A22, #F4CC70);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#newsletter>h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
}

#newsletter>p {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

#emailContact {
    width: 40%;
    align-items: center;
}

#emailContact>button {
    background-color:#F4CC70;
    color: black;
    text-align: end;
    transition: all ease-in-out 0.5ms;
}

#emailContact>button:hover {
    transform: scale(1.2);
    transition: all ease-in-out 0.5ms;
}

#supportUs {
    background:linear-gradient(#F4CC70, #FFFFFF);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#btnSupport {
    background-color: #DE7A22;
    color: #FFFFFF;
    transition: all ease-in-out 0.5ms;
}

#btnSupport:hover {
    transform: scale(1.2);
    transition: all ease-in-out 0.5ms;
    border: 1px solid #DE7A22;    
}
