@import "scss/components/colors";

/* Page nos actions */

.actions_1 {
    background-image: url('img/event/pencils.jpg');
    background-size: cover;
    box-shadow: 5px 5px 15px $greyDark;
}


.actions_2 {
    background-image: url('img/event/louvre.jpg');
    background-size: cover;
    box-shadow: 5px 5px 15px $greyDark;
}

.actions_3 {
    background-image: url('img/event/braderie2.jpeg');
    background-size: cover;
    box-shadow: 5px 5px 15px $greyDark;
}

#contribution {
    background:linear-gradient($greyLight, $yellowPrimary);
}

.support_1 {
    background-image: url('img/event/benevole.jpg');
    background-size: cover;
    transition: all 1s;
}

#carte {
    background: #FFFFFF;
    border-color: 1px solid $orangeDark;
}